ul{
  list-style-position: inside;
  background: rgb(208, 232, 161);
}

table, th, td{
  width: 50%;
  height: 70px;
  text-align: center;
  vertical-align: center;
  border-color: black;
  border: 2px solid;
}

img {
  padding: 5px;
  width: 300px;
  border-radius: 50%
}

img:hover {
  box-shadow: 0 0 4px 3px rgba(0, 150, 180, 0.5);
}

tr:hover {background-color: purple;}