/*Structure */
#main_header {
  background-color: azure;
}

#main_content {
  background-color: aqua;
  padding: 1px;
}

#main_footer {
  background-color: lightgray;
}

.collumn {
  padding:7px;
  margin: 7px;
  border-radius: 0px;
  background-color: azure;
}

.collumn2 {
  padding: 7px;
  margin: 0px;
  border-radius: 0px;
  background-color: teal;
}

.links {
  background-color: azure;
  padding: 0px;
  margin: 0px;
  border-radius: 1px;
}

.Ideas {
  padding: 7px;
  margin: 7px;
  border-radius: 4px;
}

.links{
  background-color: azure;
  padding: 7px;
  margin: 7px;
  border-radius: 4px;
}

.Images1text {
  text-align: left;
}
/*Navigation*/

#main_nav li {
  padding: 5px;
  list-style-type: none;
  background-color: aqua;
  border-bottom: black;
  border-color: white;
  border-style: 1;
  text-align: center;
}

#main_nav a {
  text-decoration: none;
  color: black;
}

img{
  width: 200px;
  height: 200px;
  padding: 12px;
  margin: 12px;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4{
  padding-top: 30px;
}

.Ideaspadding{
  padding-bottom: 150px;
}
/*Typography*/
body{
  font-family: 'Times New Roman', Times, serif;
}

#main_header h1 {
  text-align: center;
}

#main_content h2 {
  color: white;
}

#main_footer p {
  text-align: center;
}

.bottom_text{
  text-align: center;
}

/*Larger Resolution*/
@media (min-width: 900px) {
  #main_nav ul, .flex_container{
    display: flex;
  }

  #main_nav li, .links, .bottom_collumn {
    flex:1;
  }

  h5{
    text-align: center;
  }

}

 

.Images1text {
  flex:1;
}

.Images1 {
  flex:2;
}
